.students img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.students table tr {
  vertical-align: middle;
}

.student-data {
  text-align: center;
}

.student-data img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}
